<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div
              *ngIf="loginForm.get('name')?.invalid && (loginForm.get('name')?.touched || loginForm.get('name')?.dirty)">
              <span class="error-msg" *ngIf="loginForm.get('name')?.errors?.['required']">
                The name is required.
              </span>
              <span class="error-msg" *ngIf="loginForm.get('name')?.errors?.['minlength']">
                The name must be at least three characters long.
              </span>
            </div>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div
              *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              <span class="error-msg" *ngIf="loginForm.get('password')?.errors?.['required']">
                Password is required.
              </span>
            </div>
          </div>

          <div class="form-group text-center mt-2 col-12">
            <button type="submit" class="btn btn-primary me-2" [disabled]="loginForm.invalid"
              (click)="SaveLoginForm()">Save</button>
            <button type="reset" class="btn btn-secondary ml-2" (click)="cancelForm()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>