<!-- <div class="shadow-lg col-sm-4 p-3"> -->
<div class="card">
  <div class="card-image-wrapper">
    <div *ngIf="Property && Property.imageLocation; else elseBlock">
      <img class="card-img-top" src="{{ Property.imageLocation }}" />
      <ul class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button routerLink="/property-details/{{ Property.Id }}">
            <i class="far fa-edit fa-beat-fade"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <button><i class="far fa-address-book fa-beat-fade"></i></button>
        </li>
      </ul>
    </div>

    <ng-template #elseBlock
      ><img class="card-img-top" src="assets/Images/house_default.jpg"
    /></ng-template>
  </div>
  <div class="card-body p-1">
    <h1 class="mb-0">{{ Property.BHK }} BHK {{ Property.PType }}</h1>
    in {{ Property.Name }}
    <span *ngIf="Property.Name">,</span>
    {{ Property.City }}
    <h6 class="mt-2">
      {{ Property.FType }}
      <span *ngIf="Property.FType !== 'Unfurnished'">Furnished</span> | Ready to
      Move
    </h6>
    <hr class="mt-0 mb-2" />
    <h6 class="mb-0">
      Price: <span class="highLight">{{ Property.Price }} USD.</span> | Area:
      <span class="highLight"> {{ Property.BuiltArea }} Sq Ft</span>
    </h6>
    <!-- <h6>{{ Property.Area }}</h6> -->
  </div>
</div>
<!-- </div> -->
